.connectBtn {
    background-color: var(--black);
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow-out);
    display: flex;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
}

.connectBtn svg {
    width: 24px;
    height: 24px;
}

.connectBtn span {
    display: none;
}

@media (min-width: 768px) {
    .connectBtn {
        border-radius: 40px;
        width: 260px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .connectBtn svg {
        display: none;
    }

    .connectBtn span {
        display: block;
    }
}