.createBtn {
    background-color: var(--black);
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow-out);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 1.2rem;
    min-width: 54px;
    max-width: 54px;
    height: 54px;
}

.createBtn svg {
    width: 24px;
    height: 24px;
}

.createBtn span {
    display: none;
}

.createBtn:hover {
    background: linear-gradient(320deg, #2F3339 15%, #15181C 100%);
}

.createBtn:active {
    background: var(--black);
    box-shadow: var(--shadow-in);
}

@media (min-width: 768px) {
    .createBtn {
        border-radius: 40px;
        min-width: 200px;
        max-width: 200px;
        height: 54px;
    }

    .createBtn svg {
        display: none;
    }

    .createBtn span {
        display: block;
    }
}