.followBtn {
    background-color: var(--black);
    border: var(--border);
    border-radius: 40px;
    box-shadow: var(--shadow-out);
    color: var(--light-gray);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}