.main {
  min-height: 100vh;
  text-align: center;
}

.hero {
  background: var(--gradient-bg);
  background-size: 1000% 1000%;
  -webkit-animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  -o-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: max(74vh, 500px);
  text-align: center;
}

.heroWrapper {
  color: var(--black);
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem 2rem 8rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Disable animation */
@media (prefers-reduced-motion) {
  .hero {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 1120px) {}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-o-keyframes gradient {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}