.layoutWrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0rem 1rem 6rem;
}

.layoutTop {
    display: none;
}

.layoutBot {
    display: none;
}

.layoutMessage {
    color: var(--medium-gray);
    font-size: 1rem;
}

.layoutMidProfileMobile {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .layoutWrapper {
        grid-template-columns: auto 2fr;
        grid-gap: 2rem;
        padding: 1rem 1rem 6rem;
    }

    .layoutMid {
        padding-top: 2rem;
    }

    .layoutTop {
        display: flex;
        flex-direction: column;
    }

    .layoutMidProfileMobile {
        display: none;
    }
}

@media (min-width: 1120px) {
    .layoutWrapper {
        grid-template-columns: minmax(300px, 320px) 2fr minmax(300px, 320px);
        grid-gap: 2rem;
    }

    .layoutTop {
        display: block;
    }

    .layoutBot {
        display: block;
    }
}