.logo {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
}

.logo svg {
    width: 48px;
    height: 48px;
}

.logo span {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .logo span {
        display: block;
    }
}