.navbar {
    background-color: var(--black);
    width: 100%;
}

.navbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: 0 auto;
    padding: 1rem;
}

.navbarProfile {
    display: flex;
    align-items: center;
}

.navbarProfileWrapper {
    cursor: default;
    position: relative;
}

.navbarProfileInfoName {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.05rem;
    text-align: left;
}

.navbarProfileInfoAddress {
    color: var(--light-gray);
    font-size: 1rem;
    text-align: left;
}

.navbarImg {
    background-color: var(--black);
    border: var(--border);
    border-radius: 4px;
    box-shadow: var(--shadow-in);
    width: 56px;
    height: 56px;
    padding: 8px;
}

.navbarImg img {
    border-radius: 4px;
    object-fit: cover;
}

.navbarImgPlaceholder {
    background: var(--gradient-bg);
    border-radius: 4px;
    min-width: 40px;
    min-height: 40px;
}

.navbarPopover {
    background-color: var(--black);
    border: var(--border);
    border-radius: 4px;
    box-shadow: var(--shadow-out);
    position: absolute;
    top: 100%;
    right: 0;
    width: 196px;
    padding: 1rem;
    text-align: left;
    z-index: 2;
}

.navbarPopoverOption {
    border: 0.5px solid transparent;
    color: var(--light-gray);
    font-size: 1rem;
    padding: 0.75rem 1rem;
}

.navbarPopoverOption a,
.navbarPopoverOption div {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: 24px 1fr;
    grid-gap: 0.5rem;
    font-size: 1rem;
    color: var(--light-gray);
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left;
}

.navbarPopoverOption:hover {
    border: var(--border);
    background: linear-gradient(320deg, #2F3339 15%, #15181C 100%);
    border-radius: 4px;
    box-shadow: var(--shadow-out);
}

.navbarPopoverOption:active {
    background: var(--black);
    box-shadow: var(--shadow-in);
}

.navbarLinks {
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbarLinkLeft,
.navbarLinkRight {
    background-color: var(--black);
    border: var(--border);
    color: var(--light-gray);
    font-size: 1.1rem;
    width: 50%;
    padding: 1rem 1.5rem;
}

.navbarLinkActive {
    box-shadow: var(--shadow-in);
}

.navbarProfileDetails {
    display: none;
}

.navbarProfileInfoAddress {
    color: var(--green);
}

@media (min-width: 768px) {
    .navbarLinks {
        display: inline-block;
        position: inherit;
    }

    .navbarLinkLeft,
    .navbarLinkRight {
        border-radius: 4px;
        width: 100px;
        padding: 0.75rem 1.5rem;
    }

    .navbarLinkLeft {
        border-radius: 10px 0px 0px 10px;
    }

    .navbarLinkRight {
        border-radius: 0px 10px 10px 0px;
    }

    .navbarSearchbar {
        display: none;
    }

    .navbarProfileInfo {
        display: grid;
        grid-template-columns: 56px 1fr;
        align-items: center;
        grid-gap: 0.75rem;
    }

    .navbarProfileDetails {
        display: block;
    }
}