.searchBar {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.searchBarIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 0px 10px 10px 0px;
    color: var(--medium-gray);
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.searchBarIcon svg {
    height: 22px;
    width: 22px;
}

.searchBar input {
    border-radius: 10px 0px 0px 10px;
    height: 50px;
    padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
    .searchBar {
        margin: 0;
        padding-top: 2rem;
    }
}