.searchBar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.searchBarIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 0px 10px 10px 0px;
    color: var(--medium-gray);
    cursor: pointer;
    height: 43px;
    width: 43px;
}

.searchBarIcon svg {
    height: 22px;
    width: 22px;
}

.searchBar input {
    border-radius: 10px 0px 0px 10px;
}

@media (min-width: 768px) {
    .searchBar {
        margin-right: 0rem;
        padding-top: 2rem;
    }
}